{% import 'accommodation-img.twig' as img %}

{% extends 'layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <meta name="description" content="Le village de vacances Le Grand Panorama accueille les stagiaires de la Semaine Chantante en Auvergne au bord du lac Chambon, l'un des plus prestigieux lacs auvergnats : chambres de un à quatre lits tout confort, vue sur le lac, prestations de qualité." />
    <title>Hébergement - Semaine Chantante en Auvergne</title>
{% endblock %}

{% block content %}
    <div class="container-fluid bloc-holiday mb-5">
        <h1 class="green-title title-page text-center briquet">Un Accueil Grandeur Nature</h1>
        <div class="mb-5"><img class="img-fluid" src="./public/img/accommodation/chaine_des_puys.png" alt="Panorama sur la chaîne de Puys" /></div>
        <h2 class="grey-text text-center briquet sub-title-holiday">Des Vacances Enchantées !</h2>
        <div class="row row-two-images center-block d-flex flex-row justify-content-center">
            <figure>
                <img class="img-responsive" src="./public/img/accommodation/vue.png" alt="Vue sur le Grand Panorama" />
                <figcaption class="briquet grey-text mt-1">Village de vacances Le Grand Panorama</figcaption>
            </figure>
            <figure>
                <img class="img-responsive" src="./public/img/accommodation/lac_chambon.png" alt="Vue sur le lac Chambon" />
                <figcaption class="briquet grey-text mt-1">Au bord du lac Chambon</figcaption>
            </figure>
        </div>
        <p class="text-holiday">Vous allez vivre une semaine inoubliable dans un cadre exceptionnel : Le Grand Panorama, village de vacances situé au bord du lac <span class="text-uppercase">chambon</span> vous offre des chambres de 1 à 4 lits tout confort (salle de bains, WC), une salle de restaurant avec vue sur le lac et une cuisine de qualité. Baignade, VTT, randonnées... Tout est fait pour que la Semaine Chantante soit aussi le meilleur souvenir de vos vacances.</p>
        <div class="grand-panorama-images">
            {{ img.blockImages({src1 : 'chalet', alt1 : 'Le Chalet', title1 : "Bâtiment Chalet - 18 chambres"},
            {src2 : 'panorama', alt2 : 'Le Panorama', title2 : 'Bâtiment Panorama - 23 chambres'},
            {src3 : 'residence', alt3 : 'La Résidence', title3 : 'Bâtiment Résidence - 17 chambres'}) }}
            {{ img.blockImages({src1 : 'accueil', alt1 : 'La salle d\'accueil', title1 : 'Hall d\'accueil principal'},
            {src2 : 'restaurant', alt2 : 'La salle de restaurant', title2 : 'Le restaurant'},
            {src3 : 'hall_bas', alt3 : 'Le hall d\'accueil hiver', title3 : 'Hall d\'accueil hiver'}) }}
            {{ img.blockImages({src1 : 'grande_salle', alt1 : 'La salle de spectacle', title1 : 'Salle de spectacle'},
            {src2 : 'poly', alt2 : 'La salla polyvalente', title2 : 'Bâtiment "activités"'},
            {src3 : 'grande_salle_1', alt3 : 'La salle de spectacle', title3 : 'Salle de spectacle'}) }}
            {{ img.blockImages({src1 : 'salle_du_lac', alt1 : 'La salle du lac', title1 : 'Salle du Lac'},
            {src2 : 'chambre_panorama', alt2 : 'Une chambre du Panorama', title2 : 'Chambre Panorama'},
            {src3 : 'residence', alt3 : 'La Résidence', title3 : 'Bâtiment Résidence - 17 chambres'}) }}
            {{ img.blockImages({src1 : 'chambre_chalet', alt1 : 'Une chambre du Chalet', title1 : 'Chambre Chalet'},
            {src2 : 'chambre_residence', alt2 : 'Une chambre de la Résidence', title2 : 'Chambre Résidence'},
            {src3 : 'chambre_panorama_1', alt3 : 'Une chambre du Panorama', title3 : 'Chambre Panorama'}) }}
        </div>
        <div id="mapid" class="w-100 m-auto"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
    <script src="./public/js/Map.js"></script>
{% endblock %}