{% extends 'layout.twig' %}
{% import 'group-form.twig' as groupForm %}

{% block head %}
    <title>S'inscrire</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="green-title title-page text-center briquet">Inscription en ligne</h1>
        <div class="bloc-form col-6 m-auto">
            <h2>Coordonnées</h2>
            <form method="post" action="index.php?action=adduser">
                {{ groupForm.groupText('surname', 'Nom') }}
                {{ groupForm.groupText('firstname', 'Prénom') }}
                {{ groupForm.groupText('user_address', 'Adresse') }}
                {{ groupForm.groupText('postal_code', 'Code postal', 'number') }}
                {{ groupForm.groupText('town', 'Ville') }}
                {{ groupForm.groupText('phone_number', 'Téléphone', 'tel') }}
                {{ groupForm.groupText('phone_number_office', 'Téléphone bureau', 'tel', false) }}
                {{ groupForm.groupText('email', 'Courriel', 'email') }}
                {{ groupForm.groupText('birthday', 'Date de naisance', 'date') }}
                {{ groupForm.groupText('choir_name', 'Nom de la chorale') }}
                {{ groupForm.groupText('choir_town', 'Ville de la chorale') }}
                {{ groupForm.groupRadio('Êtes-vous :', 'status', {'label1' : 'Choriste', 'label2' : 'Chef de chœur'}) }}
                {{ groupForm.groupRadio('Pupitre :', 'music_stand', {'label1' : 'Soprane', 'label2' : 'Alto', 'label3' : 'Ténor', 'label4' : 'Basse'}) }}
    
                <label for="additional">Complément d'information (expérience chorale, scénique, autres précisions...)</label>
                <textarea type="text" name="additional" id="additional" placeholder="Votre réponse" class="form-control"></textarea>
                <h3>Validation</h3>
                <p>Votre inscription sera validée à réception du versement de réservation de 200 €
                    <ul>
                        <li>soit par virement aux coordonnées bancaires suivantes :<br />
                        IBAN FR76 1600 6000 1000 0000 9000 1000 / BIC AGRIFRXX000</li>
                        <li>soit par chèque à l'ordre de "Semaine Chantante Auvergne" à faire parvenir à :<br />
                        Semaine Chantante Auvergne<br />
                        BP 100<br />
                        63000 Clermont-Ferrand</li>
                    </ul>
                </p>
                {{ groupForm.groupRadio('Mode de versement :', 'payment', {'label1' : 'Virement bancaire', 'label2' : 'Chèque'}) }}
                <input class="mb-5 formular-button" type="submit" value="Envoyer" id="submit" onclick="return(confirm('Êtes-vous sûr enregistrer ces informations ?'));" disabled />
            </form>
        </div>
    </div>
    <script src="./public/js/test-formular.js"></script>    
{% endblock %}