{% extends 'layout.twig' %}
{% import 'song.twig' as song %}

{% block head %}
    <link rel="stylesheet" href="public/css/songs-page.css" />
    <title>Musiques</title>
{% endblock %}

{% block content %}
    <h1 class="briquet">Aquarelle chante</h1>
    <div class="songs text-center">
        {{ song.blockSong("À nos actes manqués", "Paragraphe", "a_nos_actes_manques") }}
        {{ song.blockSong("Alia Souza", "Paragraphe", "alia_souza") }}
        {{ song.blockSong("Bébédum", "Paragraphe", "bebedum") }}
        {{ song.blockSong("Bluesy", "Paragraphe", "bluesy") }}
        {{ song.blockSong("Boule de gomme", "Paragraphe", "boule_de_gomme") }}
        {{ song.blockSong("Cœur de loup", "Paragraphe", "coeur_de_loup") }}
        {{ song.blockSong("Du mal", "Paragraphe", "du_mal") }}
        {{ song.blockSong("La boîte de jazz", "Paragraphe", "la_boite_de_jazz") }}
        {{ song.blockSong("Le rêve du pêcheur", "Paragraphe", "le_reve_du_pecheur") }}
        {{ song.blockSong("Le sofa", "Paragraphe", "le_sofa") }}
        {{ song.blockSong("Les yeux doux", "Paragraphe", "les_yeux_doux") }}
        {{ song.blockSong("Oui j'l'adore", "Paragraphe", "oui_jladore") }}
    </div>
    <script src="./public/js/management-songs.js"></script>
{% endblock %}