{% extends 'layout.twig' %}

{% import 'add-comment.twig' as addComment %}

{% block head %}
    <link rel="stylesheet" href="public/css/light-pages.css" />
    <title>Espace inscrits</title>
{% endblock %}

{% block content %}
    {% if user == 'chorist' %}
        <h1 class="title-page title-space-users briquet">Commentaires</h1>
        {% for comment in comments %}
            <div class="w-50 text-justify m-auto part-space-users">
                <div class="comment">
                    <h3 class="grey-white-color"><span class="white">{{ comment.author }}</span> <span class="date-comment">le {{ comment.creation_date_fr }}</div></h3>
                    <p>{{ comment.comment }}</p>
                    {% set notified = false %} 
                    {% for notifiedComment in notifiedComments %}
                        {% if notifiedComment.comment_id == comment.id %}
                            {% set notified = true %}
                        {% endif %}
                    {% endfor %}
                    {% if notified %}
                        <p class="yellow mb-5">Ce commentaire a déjà été signalé.</p>
                    {% else %}
                        <p class="mb-5"><a href="index.php?action=notify-comment&amp;id={{ comment.id }}" onclick="return(confirm('Êtes-vous sûr de vouloir signaler ce commentaire ?'));" class="red">Signaler</a></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="w-50 text-justify m-auto part-space-users">
        {% if pages > 1 and page > 1 %}
            <div class="formular-button-link button-page-comment mb-3 text-center">
                <a href="?action=space-users&amp;p={{ page - 1 }}">Commentaires plus récents</a>
            </div>
        {% endif %}
        {% if pages > 1 and page < pages %}
            <div class="formular-button-link button-page-comment mb-3 text-center">
                <a href="?action=space-users&amp;p={{ page + 1 }}">Commentaires plus anciens</a>
            </div>
        {% endif %}
            <div class="form_add_comment m-auto">
                {{ addComment.addComment() }}
            </div>
        </div>
    {% endif %}
    {% if user == 'admin' %}
        <div class="text-justify m-auto part-space-users">
            <h1 class="title-page briquet">Gestion</h1>
            <div class="bloc-admin text-center">
                <div class="search-bar mb-5">
                    <form method="post" action="index.php?action=listusers">
                        <div><input type="text" name="q" class="m-auto" required /></div>
                        <div class="mt-3"><input type="submit" value="Rechercher" /></div>
                    </form>
                </div>
                <div class="button-space-admin mb-4">
                    <a href="index.php?action=export">Exporter les données</a>
                </div>
                <div class="button-space-admin mb-4">
                    <a href="?action=comments-admin">Voir les commentaires</a>
                </div>
                <div class="button-space-admin">
                    <a href="?action=notified-comments-admin">Voir les commentaires signalés</a>
                </div>
                {% for data in users %}
                    <p>
                        {{ data.surname }} {{ data.firstname }}<br />
                        <a href="index.php?action=readuser&amp;id={{ data.id }}">Lire</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}